<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>webStudy03_MVCFramework</display-name>
  <welcome-file-list>
    <welcome-file>index.do</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>contentFolder</param-name>
    <param-value>d:/D_Other</param-value>
  </context-param>
  <listener>
    <listener-class>kr.or.ddit.member.CustomServletContextListener</listener-class>
  </listener>
  <filter>
    <filter-name>characterEncodingFilter</filter-name>
    <filter-class>kr.or.ddit.filter.characterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>characterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>AuthenticationFilter</filter-name>
    <filter-class>kr.or.ddit.filter.auth.AuthenticationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>AuthorizationFilter</filter-name>
    <filter-class>kr.or.ddit.filter.auth.AuthorizationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthorizationFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>FileUploadCheckFilter</filter-name>
    <filter-class>kr.or.ddit.filter.fileupload.FileUploadCheckFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FileUploadCheckFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>FrontController</servlet-name>
    <servlet-class>kr.or.ddit.mvc.FrontController</servlet-class>
    <init-param>
      <param-name>basePackage</param-name>
      <param-value>kr.or.ddit</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
    <multipart-config/>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrontController</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TilesDispatchServlet</servlet-name>
    <servlet-class>org.apache.tiles.web.util.TilesDispatchServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>TilesDispatchServlet</servlet-name>
    <url-pattern>*.tiles</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ImageListServlet</servlet-name>
    <servlet-class>kr.or.ddit.servlet01.ImageListServlet</servlet-class>
    <init-param>
      <param-name>contentFolder</param-name>
      <param-value>d:/D_Other</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageListServlet</servlet-name>
    <url-pattern>/01/imageList.tmpl</url-pattern>
  </servlet-mapping>
</web-app>